.pagination-container:after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.pagination-container {
  zoom: 1
}

.pagination-container li {
  float: left;
  height: 2.8rem;
  line-height: 2.8rem;
  margin-right: .8rem;
  list-style: none;
  padding: 0px .8rem;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pagination-container li:last-child {
  margin-right: 0px;
}

.pagination-active {
  font-weight: 500;
  background: #fff;
  color: #1890ff;
  border-color: #1890ff!important;
}

.pagination-nomore {
  color: #b5b5b5 !important;
  cursor: not-allowed !important;
}
