.root-container {
  width: 100%;
  height: auto;
  background-color: #ebf0f7;
}

.container {
  min-height: 80vh;
  .main-title {
    height: auto;
    font-size: 1.8rem;
    padding: 2rem 0;
  }
}

.content {
  display: flex;
  flex: 1;
}

.content:after {
  display: table;
  content: "";
  clear: both;
}

.main-content {
  flex: 2;
  // float: left;
  // width: 66.66666667%;
}

.right-content {
  flex: 1;
  // background: burlywood;
  // float: left;
}

@media (min-width: 1520px) {
  .container {
    width: 152rem;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .content {
    display: block;
  }
  .main-content {
    width: 100%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

.xy-center{
  display: flex;
  align-items: center;
  justify-content: center;
}