.footer-container {
  height: 12rem;
  margin-top: 4rem;
  color: #ffffff99;
  vertical-align: middle;
  text-align: center;
  background-color: #2d2c2a;
  font-size: 1.5rem;
  p {
    padding-bottom: 1rem;
    margin: 0;
  }
}
